<div class="container">
    {{#each data}}
        <div class="home-container">
            <p class="joke-container">"{{this.titulo}}"</p>
            <p class="autor">- <span>{{this.nome}}.</span></p>
        </div>
    {{/each}}
</div>